{% load static %}
<section id = "services">
	<div class = "container">
		<h1>Our Services</h1>


   <div class="row services">
 	 <div class="col-md-3 text-center">
 		<div class="icon">
 		   <i class="fa fa-internet-explorer"></i>
 		   	</div>
 		     <h3>Internet Service</h3>
 		     <p>WorldLink started providing full Internet access over a dedicated leased-line to the Internet backbone in the US through Teleglobe International.</p>

 	 </div>

 	 <div class="col-md-3 text-center">
 		<div class="icon">
 		   <i class="fa fa-mobile"></i>
 		</div>
 		     <h3>Mobile Application</h3>
 		     <p>WorldLink also have the mobile services. We have discount app and the services app from where you can get the disount and configure your internet.  </p>

 	 </div>

 	 <div class="col-md-3 text-center">
 		<div class="icon">
 		   <i class="fa fa-wifi"></i>
 		</div>
 		     <h3>Hotspot WiFi</h3>
 		     <p>Worldlink provide free hotpsot wifi in many places. You can find the hotspot in restuarant, public places, heritage site. You can also get the discount with the discount app. </p>

 	 </div>

<div class="col-md-3 text-center">
 		<div class="icon">
 		   <i class="fa fa-television"></i>
 		   	</div>
 		     <h3>Nettv Service</h3>
 		     <p>Internet Protocol Television (IPTV) is digital television delivered to your television through a high speed internet connection.You can also watch past recoderded series.</p>

 	 </div>






 		</div>

	</div>

	</div>

</section>