{% load static %}
<section id="about">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>About Us</h2>
				<div>
					<div class="about-content" >
					WorldLink is the largest Internet and Network Service Provider in Nepal and one of the most prominent IT companies. Founded in September 1995 with the aim of providing Internet and IT services by its present Chairman and Managing Director, Dileep Agrawal. WorldLink started off by providing store-and-forward e-mail services over a dial-up link to the Internet in the US. In March 1997, WorldLink started providing full Internet access over a dedicated leased-line to the Internet backbone in the US through Teleglobe International. From September 1999 till June 2008, WorldLink has been connecting to the Internet over a direct satellite uplink through its own VSAT terminal, thereby completely bypassing Nepal Telecommunications Corporation, the local PTT.
				</div>

				</div>

				<a href="https://www.worldlink.com.np/company_profile.php"><button type= "button"class= "btn btn btn-primary">
					Read More  >></button></a>


			</div>


							<div class="col-md-6" skills-bar>
					<p> WiFi-Hotspot</p>
					<div class="progress">
						<div class="progress-bar" style="width: 80%;">80%</div>
					</div>
					<p> Game Announcement</p>
					<div class="progress">
						<div class="progress-bar" style="width: 20%;">20%</div>
					</div>
					<p> Total Solve issue</p>
					<div class="progress">
						<div class="progress-bar" style="width: 95%;">95%</div>
					</div>
				</div>

		</div>

	</div>
</section>
