{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Price Plan</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/st.css'%}">
</head>
<body>



<section id="priceplan">
	<div class="container">
		<h1>Price Plan</h1>
	</div>

	<div>

    <div class="newoffer_pricing_table_div">

      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">25 Mbps (1 TV)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;">Rs. 1550/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;">Rs. 4500/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;">Rs. 15000/-</td>
          </tr>
        </tbody>
      </table>
       <div style="margin-bottom: 20px;">&nbsp;</div>
       <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">25 Mbps (2 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 1850/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 5400/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 17500/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">40 Mbps (2 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 1850/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 5400/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 17500/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">40 Mbps (3 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 2000/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 5800/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 18500/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">60 Mbps (3 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 2700/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 7800/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 26000/-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="newoffer_pricing_table_div">
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">25 Mbps (1 TV)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 1500/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 4350/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 14400/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">25 Mbps (2 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 1800/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 5150/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td  style="white-space: pre;"></span>Rs. 16900/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">40 Mbps (2 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 1800/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 5150/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 16900/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">40 Mbps (3 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 2000/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 5500/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 18000/-</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 20px;">&nbsp;</div>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:81%;font-size: 11px;display:inline;">*Pre-book Now</p></div>
      <table class="newoffer_pricing_table_v2">
        <thead>
          <tr>
            <th class="newoffer_speed_th">60 Mbps (3 TVs)</th>
            <th class="newoffer_nettv_th">NETTV [All TV Channels + YouTube]</th>
            <th class="newoffer_safenet_th">SafeNet</th>
            <th class="newoffer_godiscountapp_th">GO Discount App</th>
            <th class="newoffer_timeback_th">Time Back</th>
            <th class="newoffer_price_th" nowrap>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="">1 Month</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 2700/-</td>
          </tr>
          <tr>
            <td class="">3 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 7500/-</td>
          </tr>
          <tr>
            <td class="">12 Months</td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td class=""><img src="https://www.worldlink.com.np/regular-offer/icons/tick.png" width="16" height="16" /></td>
            <td style="white-space: pre;"></span>Rs. 25000/-</td>
          </tr>
        </tbody>
      </table>
      <div style="position: relative;width: 100%;text-align:left;"><p style="position: relative;left:0px;font-size: 11px;display:inline;">*Premium STB Upgradation Charge Rs. 500 is appicable.</p></div>
    </div>


  <table style="width: 100%;"><tbody><tr><td style="vertical-align: top;padding-right: 5px;">
      <div class="newoffer_pricing_table_div">
        <h3 class="newoffer_pricing_headings bg-otc">One Time NetTv Set Up Charges</h3>
        <table class="newoffer_pricing_table_v2">
          <tbody>
            <tr>
              <th class="">NetTv</th>
              <th class="">Activation Charge</th>
              <th class="">Deposit</th>
            </tr>
            <tr>
              <th class="">Primary TV</th>
              <td class="">Rs. 500 +VAT</td>
              <td class="">Rs. 500/-</td>
            </tr>
            <tr>
              <th class="">Secondary TV</th>
              <td class="">Rs. 1500 +VAT</td>
              <td class="">Rs. 500/-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </td><td style="vertical-align: top;padding-left: 5px;">
      <div id="internet_otsc_div">
      <h3 class="newoffer_pricing_headings bg-otc">One Time Internet Set Up Charges</h3>

      <div id="newoffer_otc_table_div">
        <table id="newoffer_otc_table">
          <tbody>
            <tr>
              <th class="">Set-Up</th>
              <th class="">1 Month</th>
              <th class="">3 Months</th>
              <th class="">12 Months</th>
            </tr>
            <tr>
              <th class="">Drop Wire</th>
              <td class="">Rs. 1000/-</td>
              <td class="">Rs. 500/-</td>
              <td class="">Rs. 500/-</td>
            </tr>
            <tr>
              <th class="">Fiber Router Rental</th>
              <td class="">Rs. 1500/-</td>
              <td class="">Rs. 1000/-</td>
              <td class="">Rs. 1000/-</td>
            </tr>
            <tr>
              <th class="">Refundable Deposit</th>
              <td class="">Rs. 1000/-</td>
              <td class="">Rs. 500/-</td>
              <td class="">Rs. 500/-</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </td></tr></tbody></table>

  <div id="newoffer_vat_info">
    <p>VAT is extra.</p>
    <p>Refundable deposit will be returned only upon returning the
      Set-Top Box for IPTV.</p>
  </div>




	</div>

</section>

</body>
